<html>
  <head>
    <meta charset="utf-8" />
    <meta name="theme-color" content="#000000" />
    <link
      href="https://webchat.vica.gov.sg/static/css/chat.css"
      rel="stylesheet"
      referrerpolicy="origin"
    />
  </head>

	<!--   Replace this div with whatever is provided -->
  <div id="webchat" 
    app-launcher-animation-iteration="5" 
    app-id="moe-ask-seab" 
    app-icon="/images/HomePage/VICA/chatbot_avatar.png"
    app-name="Ask SEAB" 
    app-font-family="Lato" 
    app-color="#9D8641" 
    app-base-font-size="15" 
    app-auto-launch="false" 
    app-bot-response-trigger-event="false" 
    app-enable-auto-complete="true" 
    app-auto-complete-background-color="#EEE8D5" 
    app-auto-complete-divider-color="#9D8641" 
    app-auto-complete-hover-color="#D3C598" 
    app-enable-recommendations="true" 
    app-recommendations-background-color="#EEE8D5" 
    app-recommendations-hover-color="#D3C598" 
    app-position-right="15" 
    app-position-bottom="30"
  >
  </div>

  <script
    type="text/javascript"
    src="https://webchat.vica.gov.sg/static/js/chat.js"
    referrerpolicy="origin"
  ></script>
</html>
